@charset "utf-8";

/* 모바일 옆으로 보기로 취급 */
/* @media screen and (max-width:768px) */

/* grid */
.m9-grid-block [class*="m9-grid-"]>[class*="m9-column-"]{width:100%;margin-left:0;margin-right:0}
.m9-grid-block [class*="m9-grid-"][class~="m9-spacing-0"]>[class*="m9-column-"]{width:100%;margin:0}
.m9-grid-block [class*="m9-grid-"][class~="m9-spacing-1"]>[class*="m9-column-"]{width:100%;margin:1% 0}
.m9-grid-block [class*="m9-grid-"][class~="m9-spacing-2"]>[class*="m9-column-"]{width:100%;margin:4% 0}
.m9-grid-block [class*="m9-grid-"]>[class*="m-width-"]{margin-left:1%;margin-right:1%}
.m9-grid-block [class*="m9-grid-"]>.m-width-20{width:18.4%}
.m9-grid-block [class*="m9-grid-"]>.m-width-25{width:23.5%}
.m9-grid-block [class*="m9-grid-"]>.m-width-33{width:32%}
.m9-grid-block [class*="m9-grid-"]>.m-width-50{width:49%}
.m9-grid-block [class*="m9-grid-"]>.m-width-66{width:66%}
.m9-grid-block [class*="m9-grid-"]>.m-width-80{width:74.5%}
.m9-grid-block [class*="m9-grid-"]>.m-width-100{width:100%;margin-left:0;margin-right:0}
.m9-grid-block [class*="m9-grid-"].m9-spacing-0>[class*="m-width-"]{margin-left:0;margin-right:0}
.m9-grid-block [class*="m9-grid-"].m9-spacing-0>.m-width-20{width:20%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-0>.m-width-25{width:25%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-0>.m-width-33{width:33.333%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-0>.m-width-50{width:50%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-0>.m-width-66{width:66.664%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-0>.m-width-80{width:80%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-0>.m-width-100{width:100%;margin-left:0;margin-right:0}
.m9-grid-block [class*="m9-grid-"].m9-spacing-1>[class*="m-width-"]{margin-left:1%;margin-right:1%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-1>.m-width-20{width:18.4%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-1>.m-width-25{width:23.5%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-1>.m-width-33{width:32%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-1>.m-width-50{width:49%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-1>.m-width-66{width:66%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-1>.m-width-80{width:74.5%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-1>.m-width-100{width:100%;margin-left:0;margin-right:0}
.m9-grid-block [class*="m9-grid-"].m9-spacing-2>[class*="m-width-"]{margin-left:4%;margin-right:4%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-2>.m-width-20{width:13.6%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-2>.m-width-25{width:19%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-2>.m-width-33{width:28%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-2>.m-width-50{width:46%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-2>.m-width-66{width:64%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-2>.m-width-80{width:78.4%}
.m9-grid-block [class*="m9-grid-"].m9-spacing-2>.m-width-100{width:100%;margin-left:0;margin-right:0}

.m9-grid-block [class*="m9-grid-"][class~="m-m9-spacing-0"]>[class*="m9-column-"]{width:100%;margin:0}
.m9-grid-block [class*="m9-grid-"][class~="m-m9-spacing-1"]>[class*="m9-column-"]{width:100%;margin:1% 0}
.m9-grid-block [class*="m9-grid-"][class~="m-m9-spacing-2"]>[class*="m9-column-"]{width:100%;margin:4% 0}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-0>[class*="m-width-"]{margin-left:0;margin-right:0}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-0>.m-width-20{width:20%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-0>.m-width-25{width:25%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-0>.m-width-33{width:33.333%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-0>.m-width-50{width:50%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-0>.m-width-66{width:66.664%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-0>.m-width-80{width:80%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-0>.m-width-100{width:100%;margin-left:0;margin-right:0}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-1>[class*="m-width-"]{margin-left:1%;margin-right:1%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-1>.m-width-20{width:18.4%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-1>.m-width-25{width:23.5%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-1>.m-width-33{width:32%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-1>.m-width-50{width:49%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-1>.m-width-66{width:66%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-1>.m-width-80{width:74.5%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-1>.m-width-100{width:100%;margin-left:0;margin-right:0}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-2>[class*="m-width-"]{margin-left:4%;margin-right:4%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-2>.m-width-20{width:13.6%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-2>.m-width-25{width:19%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-2>.m-width-33{width:28%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-2>.m-width-50{width:46%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-2>.m-width-66{width:64%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-2>.m-width-80{width:78.4%}
.m9-grid-block [class*="m9-grid-"].m-m9-spacing-2>.m-width-100{width:100%;margin-left:0;margin-right:0}

.m9-grid-block [class*="m9-grid-"]>.m-lm,.m9-grid-block [class*="m9-grid-"][class*="m9-spacing-"]>.m-lm{margin-right:0}
.m9-grid-block [class*="m9-grid-"]>.m-rm,.m9-grid-block [class*="m9-grid-"][class*="m9-spacing-"]>.m-rm{margin-left:0}


/*spacin-0 추가*/
.m9-grid-block [class*="m9-float-"].m-m9-spacing-0>*{margin:0% 0%}

/* float */
.m9-grid-block [class*="m-m9-float-"]{width:100%;list-style:none;padding:0}
.m9-grid-block [class*="m-m9-float-"]:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.m9-grid-block [class*="m-m9-float-"]>*{width:100%;float:left;margin:0}
.m9-grid-block [class*="m-m9-float-"]>:nth-child(n){clear:none}

.m9-grid-block [class*="m-m9-float-"].m9-spacing-0>*{margin:0% 0%}
.m9-grid-block [class*="m-m9-float-"].m9-spacing-1>*{margin:1% 1%}
.m9-grid-block [class*="m-m9-float-"].m9-spacing-2>*{margin:2% 2%}
.m9-grid-block [class*="m-m9-float-"].m9-spacing-3>*{margin:3% 3%}
.m9-grid-block .m-m9-float-1.m9-spacing-1>*{width:100%}
.m9-grid-block .m-m9-float-2.m9-spacing-1>*{width:49%;*width:48%}
.m9-grid-block .m-m9-float-3.m9-spacing-1>*{width:32%;*width:31.2999%}
.m9-grid-block .m-m9-float-4.m9-spacing-1>*{width:23.5%}
.m9-grid-block .m-m9-float-5.m9-spacing-1>*{width:18.4%;*width:18.4%}
.m9-grid-block .m-m9-float-6.m9-spacing-1>*{width:15%}
.m9-grid-block .m-m9-float-1.m9-spacing-2>*{width:100%}
.m9-grid-block .m-m9-float-2.m9-spacing-2>*{width:48%}
.m9-grid-block .m-m9-float-3.m9-spacing-2>*{width:30.666%}
.m9-grid-block .m-m9-float-4.m9-spacing-2>*{width:22%}
.m9-grid-block .m-m9-float-5.m9-spacing-2>*{width:16.8%}
.m9-grid-block .m-m9-float-6.m9-spacing-2>*{width:13.33333%}
.m9-grid-block .m-m9-float-1.m9-spacing-3>*{width:100%}
.m9-grid-block .m-m9-float-2.m9-spacing-3>*{width:47%}
.m9-grid-block .m-m9-float-3.m9-spacing-3>*{width:29.3%}
.m9-grid-block .m-m9-float-4.m9-spacing-3>*{width:20.5%}
.m9-grid-block .m-m9-float-5.m9-spacing-3>*{width:15.2%}
.m9-grid-block .m-m9-float-6.m9-spacing-3>*{width:11.666%}

.m9-grid-block [class*="m-m9-float-"].m-m9-spacing-0>*{margin:0% 0%}
.m9-grid-block [class*="m-m9-float-"].m-m9-spacing-1>*{margin:1% 1%}
.m9-grid-block [class*="m-m9-float-"].m-m9-spacing-2>*{margin:2% 2%}
.m9-grid-block [class*="m-m9-float-"].m-m9-spacing-3>*{margin:3% 3%}
.m9-grid-block .m-m9-float-1>*:nth-child(n){}
.m9-grid-block .m-m9-float-2>*:nth-child(2n+1){clear:both}
.m9-grid-block .m-m9-float-3>*:nth-child(3n+1){clear:both}
.m9-grid-block .m-m9-float-4>*:nth-child(4n+1){clear:both}
.m9-grid-block .m-m9-float-5>*:nth-child(5n+1){clear:both}
.m9-grid-block .m-m9-float-6>*:nth-child(6n+1){clear:both}
.m9-grid-block .m-m9-float-1>*:nth-child(n){margin-left:0;margin-right:0}
.m9-grid-block .m-m9-float-2>*:nth-child(2n+1){margin-left:0}
.m9-grid-block .m-m9-float-2>*:nth-child(2n+2){margin-right:0}
.m9-grid-block .m-m9-float-3>*:nth-child(3n+1){margin-left:0}
.m9-grid-block .m-m9-float-3>*:nth-child(3n+3){margin-right:0}
.m9-grid-block .m-m9-float-4>*:nth-child(4n+1){margin-left:0}
.m9-grid-block .m-m9-float-4>*:nth-child(4n+4){margin-right:0}
.m9-grid-block .m-m9-float-5>*:nth-child(5n+1){margin-left:0}
.m9-grid-block .m-m9-float-5>*:nth-child(5n+5){margin-right:0}
.m9-grid-block .m-m9-float-6>*:nth-child(6n+1){margin-left:0}
.m9-grid-block .m-m9-float-6>*:nth-child(6n+6){margin-right:0}

.m9-grid-block .m-m9-float-1>*{width:100%}
.m9-grid-block .m-m9-float-2>*{width:50%}
.m9-grid-block .m-m9-float-3>*{width:33.33333%;*width:33.2%}
.m9-grid-block .m-m9-float-4>*{width:25%;*width:24.99%}
.m9-grid-block .m-m9-float-5>*{width:20%;*width:19.9%}
.m9-grid-block .m-m9-float-6>*{width:16.6666%}
.m9-grid-block .m-m9-float-1.m-m9-spacing-1>*{width:100%}
.m9-grid-block .m-m9-float-2.m-m9-spacing-1>*{width:49%;*width:48%}
.m9-grid-block .m-m9-float-3.m-m9-spacing-1>*{width:32%;*width:31.2999%}
.m9-grid-block .m-m9-float-4.m-m9-spacing-1>*{width:23.5%}
.m9-grid-block .m-m9-float-5.m-m9-spacing-1>*{width:18.4%;*width:18.4%}
.m9-grid-block .m-m9-float-6.m-m9-spacing-1>*{width:15%}
.m9-grid-block .m-m9-float-1.m-m9-spacing-2>*{width:100%}
.m9-grid-block .m-m9-float-2.m-m9-spacing-2>*{width:48%}
.m9-grid-block .m-m9-float-3.m-m9-spacing-2>*{width:30.666%}
.m9-grid-block .m-m9-float-4.m-m9-spacing-2>*{width:22%}
.m9-grid-block .m-m9-float-5.m-m9-spacing-2>*{width:16.8%}
.m9-grid-block .m-m9-float-6.m-m9-spacing-2>*{width:13.33333%}
.m9-grid-block .m-m9-float-1.m-m9-spacing-3>*{width:100%}
.m9-grid-block .m-m9-float-2.m-m9-spacing-3>*{width:47%}
.m9-grid-block .m-m9-float-3.m-m9-spacing-3>*{width:29.3%}
.m9-grid-block .m-m9-float-4.m-m9-spacing-3>*{width:20.5%}
.m9-grid-block .m-m9-float-5.m-m9-spacing-3>*{width:15.2%}
.m9-grid-block .m-m9-float-6.m-m9-spacing-3>*{width:11.666%}

/* m-list-border-style */
.m9-grid-block [class*="m-m9-float-"][class*="m9-list-border-style-"]>*:nth-child(n):after{display:block}
.m9-grid-block [class~="m-m9-float-1"][class*="m9-list-border-style-"]>*:nth-child(1):after{display:none}
.m9-grid-block [class~="m-m9-float-2"][class*="m9-list-border-style-"]>*:nth-child(1):after,.m9-grid-block [class~="m-m9-float-2"][class*="m9-list-border-style-"]>*:nth-child(2):after{display:none}
.m9-grid-block [class~="m-m9-float-3"][class*="m9-list-border-style-"]>*:nth-child(1):after,.m9-grid-block [class~="m-m9-float-3"][class*="m9-list-border-style-"]>*:nth-child(2):after,.m9-grid-block [class~="m-m9-float-3"][class*="m9-list-border-style-"]>*:nth-child(3):after{display:none}
.m9-grid-block [class~="m-m9-float-4"][class*="m9-list-border-style-"]>*:nth-child(1):after,.m9-grid-block [class~="m-m9-float-4"][class*="m9-list-border-style-"]>*:nth-child(2):after,.m9-grid-block [class~="m-m9-float-4"][class*="m9-list-border-style-"]>*:nth-child(3):after,.m9-grid-block [class~="m-m9-float-4"][class*="m9-list-border-style-"]>*:nth-child(4):after{display:none}
.m9-grid-block [class~="m-m9-float-5"][class*="m9-list-border-style-"]>*:nth-child(1):after,.m9-grid-block [class~="m-m9-float-5"][class*="m9-list-border-style-"]>*:nth-child(2):after,.m9-grid-block [class~="m-m9-float-5"][class*="m9-list-border-style-"]>*:nth-child(3):after,.m9-grid-block [class~="m-m9-float-5"][class*="m9-list-border-style-"]>*:nth-child(4):after,.m9-grid-block [class~="m-m9-float-5"][class*="m9-list-border-style-"]>*:nth-child(5):after{display:none}
.m9-grid-block [class~="m-m9-float-6"][class*="m9-list-border-style-"]>*:nth-child(1):after,.m9-grid-block [class~="m-m9-float-6"][class*="m9-list-border-style-"]>*:nth-child(2):after,.m9-grid-block [class~="m-m9-float-6"][class*="m9-list-border-style-"]>*:nth-child(3):after,.m9-grid-block [class~="m-m9-float-6"][class*="m9-list-border-style-"]>*:nth-child(4):after,.m9-grid-block [class~="m-m9-float-6"][class*="m9-list-border-style-"]>*:nth-child(5):after,.m9-grid-block [class~="m-m9-float-6"][class*="m9-list-border-style-"]>*:nth-child(6):after{display:none}

.m9-grid-block [class*="m-m9-list-border-style-"]>*{position:relative}
.m9-grid-block [class~="m-m9-list-border-style-1"]>*:after,.m9-grid-block [class~="m-m9-list-border-style-2"]>*:after,.m9-grid-block [class~="m-m9-list-border-style-3"]>*:after{content:'';position:absolute;top:0;left:0;display:block;width:100%;height:1px;border-bottom:1px dashed #ccc;font-size:0;line-height:0}
.m9-grid-block .m-m9-list-border-style-1>*:after{border-bottom-style:dashed}
.m9-grid-block .m-m9-list-border-style-2>*:after{border-bottom-style:solid}
.m9-grid-block .m-m9-list-border-style-3>*:after{border-bottom-style:dotted}

.m9-grid-block [class~="m-m9-float-1"][class*="m-m9-list-border-style-"]>*:nth-child(1):after{display:none}
.m9-grid-block [class~="m-m9-float-2"][class*="m-m9-list-border-style-"]>*:nth-child(1):after,.m9-grid-block [class~="m-m9-float-2"][class*="m-m9-list-border-style-"]>*:nth-child(2):after{display:none}
.m9-grid-block [class~="m-m9-float-3"][class*="m-m9-list-border-style-"]>*:nth-child(1):after,.m9-grid-block [class~="m-m9-float-3"][class*="m-m9-list-border-style-"]>*:nth-child(2):after,.m9-grid-block [class~="m-m9-float-3"][class*="m-m9-list-border-style-"]>*:nth-child(3):after{display:none}
.m9-grid-block [class~="m-m9-float-4"][class*="m-m9-list-border-style-"]>*:nth-child(1):after,.m9-grid-block [class~="m-m9-float-4"][class*="m-m9-list-border-style-"]>*:nth-child(2):after,.m9-grid-block [class~="m-m9-float-4"][class*="m-m9-list-border-style-"]>*:nth-child(3):after,.m9-grid-block [class~="m-m9-float-4"][class*="m-m9-list-border-style-"]>*:nth-child(4):after{display:none}
.m9-grid-block [class~="m-m9-float-5"][class*="m-m9-list-border-style-"]>*:nth-child(1):after,.m9-grid-block [class~="m-m9-float-5"][class*="m-m9-list-border-style-"]>*:nth-child(2):after,.m9-grid-block [class~="m-m9-float-5"][class*="m-m9-list-border-style-"]>*:nth-child(3):after,.m9-grid-block [class~="m-m9-float-5"][class*="m-m9-list-border-style-"]>*:nth-child(4):after,.m9-grid-block [class~="m-m9-float-5"][class*="m-m9-list-border-style-"]>*:nth-child(5):after{display:none}
.m9-grid-block [class~="m-m9-float-6"][class*="m-m9-list-border-style-"]>*:nth-child(1):after,.m9-grid-block [class~="m-m9-float-6"][class*="m-m9-list-border-style-"]>*:nth-child(2):after,.m9-grid-block [class~="m-m9-float-6"][class*="m-m9-list-border-style-"]>*:nth-child(3):after,.m9-grid-block [class~="m-m9-float-6"][class*="m-m9-list-border-style-"]>*:nth-child(4):after,.m9-grid-block [class~="m-m9-float-6"][class*="m-m9-list-border-style-"]>*:nth-child(5):after,.m9-grid-block [class~="m-m9-float-6"][class*="m-m9-list-border-style-"]>*:nth-child(6):after{display:none}

.m9-grid-block [class~="m-m9-float-1"][class~="m9-spacing-0"]>*:after{margin-top:0%}
.m9-grid-block [class~="m-m9-float-2"][class~="m9-spacing-0"]>*:after{margin-top:0%}
.m9-grid-block [class~="m-m9-float-3"][class~="m9-spacing-0"]>*:after{margin-top:0%}
.m9-grid-block [class~="m-m9-float-4"][class~="m9-spacing-0"]>*:after{margin-top:0%}
.m9-grid-block [class~="m-m9-float-5"][class~="m9-spacing-0"]>*:after{margin-top:0%}
.m9-grid-block [class~="m-m9-float-6"][class~="m9-spacing-0"]>*:after{margin-top:0%}
.m9-grid-block [class~="m-m9-float-1"][class~="m9-spacing-1"]>*:after{margin-top:-1%}
.m9-grid-block [class~="m-m9-float-2"][class~="m9-spacing-1"]>*:after{margin-top:-2%}
.m9-grid-block [class~="m-m9-float-3"][class~="m9-spacing-1"]>*:after{margin-top:-3%}
.m9-grid-block [class~="m-m9-float-4"][class~="m9-spacing-1"]>*:after{margin-top:-4%}
.m9-grid-block [class~="m-m9-float-5"][class~="m9-spacing-1"]>*:after{margin-top:-5%}
.m9-grid-block [class~="m-m9-float-6"][class~="m9-spacing-1"]>*:after{margin-top:-6%}
.m9-grid-block [class~="m-m9-float-1"][class~="m9-spacing-2"]>*:after{margin-top:-2%}
.m9-grid-block [class~="m-m9-float-2"][class~="m9-spacing-2"]>*:after{margin-top:-4%}
.m9-grid-block [class~="m-m9-float-3"][class~="m9-spacing-2"]>*:after{margin-top:-6%}
.m9-grid-block [class~="m-m9-float-4"][class~="m9-spacing-2"]>*:after{margin-top:-8%}
.m9-grid-block [class~="m-m9-float-5"][class~="m9-spacing-2"]>*:after{margin-top:-10%}
.m9-grid-block [class~="m-m9-float-6"][class~="m9-spacing-2"]>*:after{margin-top:-12%}
.m9-grid-block [class~="m-m9-float-1"][class~="m9-spacing-3"]>*:after{margin-top:-3%}
.m9-grid-block [class~="m-m9-float-2"][class~="m9-spacing-3"]>*:after{margin-top:-6%}
.m9-grid-block [class~="m-m9-float-3"][class~="m9-spacing-3"]>*:after{margin-top:-9%}
.m9-grid-block [class~="m-m9-float-4"][class~="m9-spacing-3"]>*:after{margin-top:-12%}
.m9-grid-block [class~="m-m9-float-5"][class~="m9-spacing-3"]>*:after{margin-top:-15%}
.m9-grid-block [class~="m-m9-float-6"][class~="m9-spacing-3"]>*:after{margin-top:-18%}

.m9-grid-block [class~="m-m9-float-1"][class~="m-m9-spacing-0"]>*:after{margin-top:0%}
.m9-grid-block [class~="m-m9-float-2"][class~="m-m9-spacing-0"]>*:after{margin-top:0%}
.m9-grid-block [class~="m-m9-float-3"][class~="m-m9-spacing-0"]>*:after{margin-top:0%}
.m9-grid-block [class~="m-m9-float-4"][class~="m-m9-spacing-0"]>*:after{margin-top:0%}
.m9-grid-block [class~="m-m9-float-5"][class~="m-m9-spacing-0"]>*:after{margin-top:0%}
.m9-grid-block [class~="m-m9-float-6"][class~="m-m9-spacing-0"]>*:after{margin-top:0%}
.m9-grid-block [class~="m-m9-float-1"][class~="m-m9-spacing-1"]>*:after{margin-top:-1%}
.m9-grid-block [class~="m-m9-float-2"][class~="m-m9-spacing-1"]>*:after{margin-top:-2%}
.m9-grid-block [class~="m-m9-float-3"][class~="m-m9-spacing-1"]>*:after{margin-top:-3%}
.m9-grid-block [class~="m-m9-float-4"][class~="m-m9-spacing-1"]>*:after{margin-top:-4%}
.m9-grid-block [class~="m-m9-float-5"][class~="m-m9-spacing-1"]>*:after{margin-top:-5%}
.m9-grid-block [class~="m-m9-float-6"][class~="m-m9-spacing-1"]>*:after{margin-top:-6%}
.m9-grid-block [class~="m-m9-float-1"][class~="m-m9-spacing-2"]>*:after{margin-top:-2%}
.m9-grid-block [class~="m-m9-float-2"][class~="m-m9-spacing-2"]>*:after{margin-top:-4%}
.m9-grid-block [class~="m-m9-float-3"][class~="m-m9-spacing-2"]>*:after{margin-top:-6%}
.m9-grid-block [class~="m-m9-float-4"][class~="m-m9-spacing-2"]>*:after{margin-top:-8%}
.m9-grid-block [class~="m-m9-float-5"][class~="m-m9-spacing-2"]>*:after{margin-top:-10%}
.m9-grid-block [class~="m-m9-float-6"][class~="m-m9-spacing-2"]>*:after{margin-top:-12%}
.m9-grid-block [class~="m-m9-float-1"][class~="m-m9-spacing-3"]>*:after{margin-top:-3%}
.m9-grid-block [class~="m-m9-float-2"][class~="m-m9-spacing-3"]>*:after{margin-top:-6%}
.m9-grid-block [class~="m-m9-float-3"][class~="m-m9-spacing-3"]>*:after{margin-top:-9%}
.m9-grid-block [class~="m-m9-float-4"][class~="m-m9-spacing-3"]>*:after{margin-top:-12%}
.m9-grid-block [class~="m-m9-float-5"][class~="m-m9-spacing-3"]>*:after{margin-top:-15%}
.m9-grid-block [class~="m-m9-float-6"][class~="m-m9-spacing-3"]>*:after{margin-top:-18%}

/* table */
.m9-grid-block .m9-table-1>thead>tr>th,.m9-grid-block .m9-table-1>thead>tr>td,.m9-grid-block .m9-table-2>thead>tr>th,.m9-grid-block .m9-table-2>thead>tr>td,.m9-grid-block .m9-table-3>thead>tr>th,.m9-grid-block .m9-table-3>thead>tr>td,.m9-grid-block .m9-table-4>thead>tr>th,.m9-grid-block .m9-table-4>thead>tr>td,.m9-grid-block .m9-table-5>thead>tr>th,.m9-grid-block .m9-table-5>thead>tr>td,.m9-grid-block .m9-table-6>thead>tr>th,.m9-grid-block .m9-table-6>thead>tr>td{padding:10px 6px}
.m9-grid-block .m9-table-1 th,.m9-grid-block .m9-table-1 td,.m9-grid-block .m9-table-2 th,.m9-grid-block .m9-table-2 td,.m9-grid-block .m9-table-3 th,.m9-grid-block .m9-table-3 td,.m9-grid-block .m9-table-4 th,.m9-grid-block .m9-table-4 td,.m9-grid-block .m9-table-5 th,.m9-grid-block .m9-table-5 td,.m9-grid-block .m9-table-6 th,.m9-grid-block .m9-table-6 td{padding:8px 6px}

.m9-grid-block br, .m9_editor_box br{display:none}
.m9-grid-block br.m-only-br, .m9_editor_box br.m-only-br{display:inline}
.m9-grid-block br.e-only-br, .m9_editor_box br.e-only-br{display:none}

._m9_editor_canvas br::after{content: ""}
._m9_editor_canvas br.all-br::after{content: "」\000A"}
._m9_editor_canvas br.m-only-br::after{content: "」\000A"}

/* 강조글 */
.m9-grid-block .m-m9-strong-1{background:red;color:#fff;padding:0.2% 0.4%}
.m9-grid-block .m-m9-strong-2{background:#333;color:#fff;padding:0.2% 0.4%}
.m9-grid-block .m-m9-strong-3{background:orange;color:#fff;padding:0.2% 0.4%}

/* 글자색 */
.m9-grid-block .m-m9-font-color-1{color:#2185d0}
.m9-grid-block .m-m9-font-color-2{color:#db2828}
.m9-grid-block .m-m9-font-color-3{color:#888888}
.m9-grid-block .m-m9-font-color-4{color:#333333}
.m9-grid-block .m-m9-font-color-5{color:#ffffff}

/* 밑줄 */
.m9-grid-block .m-m9-text-decoration-1{padding:0.2%;border-bottom:1px dashed #333}
.m9-grid-block .m-m9-text-decoration-2{padding:0.2%;border-bottom:1px dotted #333}
.m9-grid-block .m-m9-text-decoration-3{padding:0.2%;border-bottom:3px double #333}

/* 글꼴크기 */
.m9-grid-block .m-m9-f-huge{font-size:6em}
.m9-grid-block .m-m9-f-big{font-size:4.5em}
.m9-grid-block .m-m9-f-xxxlarge{font-size:2.25em}
.m9-grid-block .m-m9-f-xxlarge{font-size:1.75em}
.m9-grid-block .m-m9-f-xlarge{font-size:1.45em}
.m9-grid-block .m-m9-f-large{font-size:1.16em}
.m9-grid-block .m-m9-f-size{font-size:1em}
.m9-grid-block .m-m9-f-small{font-size:0.875em}
.m9-grid-block .m-m9-f-xsmall{font-size:0.75em}
.m9-grid-block .m-m9-f-xxsmall{font-size:0.688em}
.m9-grid-block .m-m9-f-xxxsmall{font-size:0.563em}

/* font-weight */
.m9-grid-block .m-font-weight-100{font-weight:100}
.m9-grid-block .m-font-weight-200{font-weight:200}
.m9-grid-block .m-font-weight-300{font-weight:300}
.m9-grid-block .m-font-weight-400{font-weight:400}
.m9-grid-block .m-font-weight-500{font-weight:500}
.m9-grid-block .m-font-weight-600{font-weight:600}
.m9-grid-block .m-font-weight-700{font-weight:700}
.m9-grid-block .m-font-weight-800{font-weight:800}
.m9-grid-block .m-font-weight-900{font-weight:900}

/* font-style */
.m9-grid-block .m-font-style-italic{font-style:italic}

/* text-decoration */
.m9-grid-block .m-text-decoration-underline{text-decoration:underline} 
.m9-grid-block .m-text-decoration-overline{text-decoration:overline} 
.m9-grid-block .m-text-decoration-line-through{text-decoration:line-through} 

/* line-height */
.m9-grid-block .m-line-height-0{line-height:0}
.m9-grid-block .m-line-height-100{line-height:1}
.m9-grid-block .m-line-height-110{line-height:1.1}
.m9-grid-block .m-line-height-120{line-height:1.2}
.m9-grid-block .m-line-height-130{line-height:1.3}
.m9-grid-block .m-line-height-140{line-height:1.4}
.m9-grid-block .m-line-height-150{line-height:1.5}
.m9-grid-block .m-line-height-160{line-height:1.6}
.m9-grid-block .m-line-height-170{line-height:1.7}
.m9-grid-block .m-line-height-180{line-height:1.8}
.m9-grid-block .m-line-height-190{line-height:1.9}
.m9-grid-block .m-line-height-200{line-height:2}

/* text-align,vertical-align */
.m9-grid-block .m-text-align-left{text-align:left}
.m9-grid-block .m-text-align-center{text-align:center}
.m9-grid-block .m-text-align-right{text-align:right}
.m9-grid-block .m-text-align-justify{text-align:justify}
.m9-grid-block .m-vertical-align-top{vertical-align:top}
.m9-grid-block .m-vertical-align-middle{vertical-align:middle}
.m9-grid-block .m-vertical-align-bottom{vertical-align:bottom}

/* float & clear */
.m9-grid-block .m-float-left{float:left}
.m9-grid-block .m-float-right{float:right}
.m9-grid-block .m-float-none{float:none;clear:both}
.m9-grid-block .m-clear-both,.m9-grid-block .m-clear{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.m9-grid-block .m-after-clear:after,.m9-grid-block .m-after-clear-both:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}

/* overflow */
.m9-grid-block .m-visibility-hidden{visibility:hidden}
.m9-grid-block .m-overflow-hidden{overflow:hidden}
.m9-grid-block .m-overflow-initial{overflow:initial}

/* border */
.m9-grid-block .m-border-0{border-width:0}
.m9-grid-block .m-border-top-0{border-top-width:0}
.m9-grid-block .m-border-right-0{border-right-width:0}
.m9-grid-block .m-border-bottom-0{border-bottom-width:0}
.m9-grid-block .m-border{border-width:1px}
.m9-grid-block .m-border-top{border-top-width:1px}
.m9-grid-block .m-border-left{border-left-width:1px}
.m9-grid-block .m-border-bottom{border-bottom-width:1px}
.m9-grid-block .m-border-right{border-right-width:1px}
.m9-grid-block .m-border-left-0{border-left-width:0}
.m9-grid-block .m-border-solid{border-style:solid}
.m9-grid-block .m-border-dashed{border-style:dashed}
.m9-grid-block .m-border-dotted{border-style:dotted}

/* margin */
.m9-grid-block .m-m9-margin-0{margin:0}
.m9-grid-block .m-m9-margin-1{margin:1em}
.m9-grid-block .m-m9-margin-2{margin:2em}
.m9-grid-block .m-m9-margin-3{margin:3em}
.m9-grid-block .m-m9-margin-width-0{margin-left:0;margin-right:0}
.m9-grid-block .m-m9-margin-width-1{margin-left:1em;margin-right:1em}
.m9-grid-block .m-m9-margin-width-2{margin-left:2em;margin-right:2em}
.m9-grid-block .m-m9-margin-width-3{margin-left:3em;margin-right:3em}
.m9-grid-block .m-m9-margin-height-0{margin-top:0;margin-bottom:0}
.m9-grid-block .m-m9-margin-height-1{margin-top:1em;margin-bottom:1em}
.m9-grid-block .m-m9-margin-height-2{margin-top:2em;margin-bottom:2em}
.m9-grid-block .m-m9-margin-height-3{margin-top:3em;margin-bottom:3em}
.m9-grid-block .m-m9-margin-top-0{margin-top:0}
.m9-grid-block .m-m9-margin-top-1{margin-top:1em}
.m9-grid-block .m-m9-margin-top-2{margin-top:2em}
.m9-grid-block .m-m9-margin-top-3{margin-top:3em}
.m9-grid-block .m-m9-margin-right-0{margin-right:0}
.m9-grid-block .m-m9-margin-right-1{margin-right:1em}
.m9-grid-block .m-m9-margin-right-2{margin-right:2em}
.m9-grid-block .m-m9-margin-right-3{margin-right:3em}
.m9-grid-block .m-m9-margin-bottom-0{margin-bottom:0}
.m9-grid-block .m-m9-margin-bottom-1{margin-bottom:1em}
.m9-grid-block .m-m9-margin-bottom-2{margin-bottom:2em}
.m9-grid-block .m-m9-margin-bottom-3{margin-bottom:3em}
.m9-grid-block .m-m9-margin-left-0{margin-left:0}
.m9-grid-block .m-m9-margin-left-1{margin-left:1em}
.m9-grid-block .m-m9-margin-left-2{margin-left:2em}
.m9-grid-block .m-m9-margin-left-3{margin-left:3em}

/* padding */
.m9-grid-block .m-m9-padding-0{padding:0}
.m9-grid-block .m-m9-padding-1{padding:1em}
.m9-grid-block .m-m9-padding-2{padding:2em}
.m9-grid-block .m-m9-padding-3{padding:3em}
.m9-grid-block .m-m9-padding-width-0{padding-left:0;padding-right:0}
.m9-grid-block .m-m9-padding-width-1{padding-left:1em;padding-right:1em}
.m9-grid-block .m-m9-padding-width-2{padding-left:2em;padding-right:2em}
.m9-grid-block .m-m9-padding-width-3{padding-left:3em;padding-right:3em}
.m9-grid-block .m-m9-padding-height-0{padding-top:0;padding-bottom:0}
.m9-grid-block .m-m9-padding-height-1{padding-top:1em;padding-bottom:1em}
.m9-grid-block .m-m9-padding-height-2{padding-top:2em;padding-bottom:2em}
.m9-grid-block .m-m9-padding-height-3{padding-top:3em;padding-bottom:3em}
.m9-grid-block .m-m9-padding-top-0{padding-top:0}
.m9-grid-block .m-m9-padding-top-1{padding-top:1em}
.m9-grid-block .m-m9-padding-top-2{padding-top:2em}
.m9-grid-block .m-m9-padding-top-3{padding-top:3em}
.m9-grid-block .m-m9-padding-right-0{padding-right:0}
.m9-grid-block .m-m9-padding-right-1{padding-right:1em}
.m9-grid-block .m-m9-padding-right-2{padding-right:2em}
.m9-grid-block .m-m9-padding-right-3{padding-right:3em}
.m9-grid-block .m-m9-padding-bottom-0{padding-bottom:0}
.m9-grid-block .m-m9-padding-bottom-1{padding-bottom:1em}
.m9-grid-block .m-m9-padding-bottom-2{padding-bottom:2em}
.m9-grid-block .m-m9-padding-bottom-3{padding-bottom:3em}
.m9-grid-block .m-m9-padding-left-0{padding-left:0}
.m9-grid-block .m-m9-padding-left-1{padding-left:1em}
.m9-grid-block .m-m9-padding-left-2{padding-left:2em}
.m9-grid-block .m-m9-padding-left-3{padding-left:3em}

/* 스케일 */
.m9-grid-block .m-zoom-10{zoom:10%}
.m9-grid-block .m-zoom-20{zoom:20%}
.m9-grid-block .m-zoom-30{zoom:30%}
.m9-grid-block .m-zoom-40{zoom:40%}
.m9-grid-block .m-zoom-50{zoom:50%}
.m9-grid-block .m-zoom-60{zoom:60%}
.m9-grid-block .m-zoom-70{zoom:70%}
.m9-grid-block .m-zoom-80{zoom:80%}
.m9-grid-block .m-zoom-90{zoom:90%}
.m9-grid-block .m-zoom-100{zoom:100%}

/* width/height */
.m9-grid-block .m-width-20{width:20%}
.m9-grid-block .m-width-25{width:25%}
.m9-grid-block .m-width-30{width:30%}
.m9-grid-block .m-width-33{width:33.333%}
.m9-grid-block .m-width-40{width:40%}
.m9-grid-block .m-width-50{width:50%}
.m9-grid-block .m-width-66{width:66.664%}
.m9-grid-block .m-width-80{width:80%}
.m9-grid-block .m-width-100{width:100%}
.m9-grid-block .m-width-auto{width:auto}
.m9-grid-block .m-height-100{height:100%}
.m9-grid-block .m-height-auto{height:auto}
.m9-grid-block .m-min-width-auto{min-width:auto}
.m9-grid-block .m-min-height-auto{min-height:auto}

/* position */
.m9-grid-block .m-positon-absolute,.m9-grid-block .m-absolute{position:absolute}
.m9-grid-block .m-position-relative,.m9-grid-block .m-relative{position:relative}
.m9-grid-block .m-position-static,.m9-grid-block .m-static{position:static}
.m9-grid-block .m-position-fiexd,.m9-grid-block .m-fixed{position:fixed}

/* display */
.m9-grid-block .m-display-block,.m9-grid-block .m-block{display:block}
.m9-grid-block .m-display-inline-block,.m9-grid-block .m-inline-block{display:inline-block;*display:inline;*zoom:1}
.m9-grid-block .m-display-inline,.m9-grid-block .m-inline{display:inline}
.m9-grid-block .m-display-none,.m9-grid-block .m-none{display:none}
.m9-grid-block .m-display-table,.m9-grid-block .m-table{display:table;width:100%}
.m9-grid-block .m-display-table-row,.m9-grid-block .m-table-row{display:table-row}
.m9-grid-block .m-display-table-cell,.m9-grid-block .m-table-cell{display:table-cell}

.m9-grid-block .from-display-block,.m9-grid-block .from-block{display:block}
.m9-grid-block .from-display-inline-block,.m9-grid-block .from-inline-block{display:inline-block;*display:inline;*zoom:1}
.m9-grid-block .from-display-inline,.m9-grid-block .from-inline{display:inline}
.m9-grid-block .from-display-none,.m9-grid-block .from-none{display:none}
.m9-grid-block .m-from-display-block,.m9-grid-block .m-from-block{display:block}
.m9-grid-block .m-from-display-inline-block,.m9-grid-block .m-from-inline-block{display:inline-block;*display:inline;*zoom:1}
.m9-grid-block .m-from-display-inline,.m9-grid-block .m-from-inline{display:inline}
.m9-grid-block .m-from-display-none,.m9-grid-block .m-from-none{display:none}
.m9-grid-block .e-from-display-block,.m9-grid-block .e-from-block{display:none}
.m9-grid-block .e-from-display-inline-block,.m9-grid-block .e-from-inline-block{display:none}
.m9-grid-block .e-from-display-inline,.m9-grid-block .e-from-inline{display:none}
.m9-grid-block .e-from-display-none,.m9-grid-block .e-from-none{display:none}

.m9-grid-block .m-from-bold{font-weight:bold}
.m9-grid-block .e-from-bold{font-weight:inherit}
.m9-grid-block .m-from-italic{font-style:italic}
.m9-grid-block .e-from-italic{font-style:normal}
.m9-grid-block .m-from-underline{text-decoration:underline}
.m9-grid-block .e-from-underline{text-decoration:none}
.m9-grid-block .m-from-strikethrough{text-decoration:line-through}
.m9-grid-block .e-from-strikethrough{text-decoration:none}
.m9-grid-block .m-from-superscript{font-size:small;vertical-align:super}
.m9-grid-block .e-from-superscript{font-size:100%;vertical-align:baseline}
.m9-grid-block .m-from-subscript{font-size:small;vertical-align:sub}
.m9-grid-block .e-from-subscript{font-size:100%;vertical-align:baseline}

/* 기타 */
.m9-grid-block .m-transform-none{transform:none}
.m9-grid-block .m-transform-scale-100{transform:scale(1)}
.m9-grid-block .m-transform-scale-110{transform:scale(1.1)}
.m9-grid-block .m-transform-rotate-45{-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.m9-grid-block .m-transform-rotate-90{-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg)}
